
$red: #FF3B30;
$orange: #FF9500;
$yellowLight: rgb(255, 204, 0);
$yellowDark: rgb(255, 214, 10);
$green: #34C759;
$minty: #00C7BE;
$lightBlue: #32ADE6;
$blue: #5856D6;
$purple: #AF52DE;
$pink: #2e1c1f;


$light-900: #F2F2F7;
$light-800: #E5E5EA;
$light-700: #D1D1D6;
$light-600: #C7C7CC;
$light-500: #C7C7CC;
$light-400: #8E8E93;


$dark-900: #1C1C1E;
$dark-800: #2C2C2E;
$dark-700: #3A3A3C;
$dark-600: #48484A;
$dark-500: #636366;
$dark-400: #8E8E93;


