.candidatesContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.3rem;
    max-height: 90%;
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
    
    
    

    


}




.Column{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.2rem;

    border-radius: 5px;

    text-align: start;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    min-width: 17vw;
max-width: 350px;
flex-grow: 0;


    
    

    



    .button{
        margin: 0 .5em;
        padding: 0.3rem;
        cursor: pointer;
        border-radius: 5px;

        
    }

    .title{
        padding: .5em 1em;
    }
}