@use './abstract/colors' as *;

.light{

    .text-title{
        color: $dark-900;
    }

    .text-card{
        color: $dark-900;
    }

    .text-subtitle{
        color: $dark-500;
    }

    .background-primary{
        background-color: $light-900;
    }

    .background-secondary{
        background-color: $light-800;
    }

    .background-tertiary{
        background-color: $yellowLight;
    }

    .btn{
        border: 1px solid $dark-900; 

        &:hover{
            background-color: $light-600;
        }
        
     }

}

.dark{

   .text-title{
        color: $light-900;
    }

    .text-card{
        color: $dark-900;
    }

    .text-subtitle{
        color: $dark-500;
    }

    .background-primary{
        background-color: $dark-900;
    }

    .background-secondary{
        background-color: $dark-700;
    }

    .background-tertiary{
        background-color: $yellowDark;
    }

    .btn{
       border: 1px solid $light-900; 
        &:hover{
            background-color: $dark-800;
        }
    }

    

    
       
}