@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 12px;
  font-weight: normal;
}

.theme, .App{
  width: 100vw;
  height: 100vh;

  @include flexCenter();

  .columnsContainer{
    height: 80vh;
    width: 90vw;

    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

  }
}
