@use '../../abstract/_colors.scss' as *;

.Card{
    min-height: 70px;
    padding: 0.8rem;

    margin: 0 .5em;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;

    .buttons{
        display: flex;
        flex-direction: column;

        .btn{
            background-color: $dark-700;
            border: none;
            border-radius: 5px;
            color: $light-800;
            margin: .18em;
            cursor: pointer;

            &:hover{
                background-color: $dark-500;
            }
        }

    }
}